/* _content/WebApplication2/Views/Shared/_LayoutAccount.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-97bmi03002] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-97bmi03002] {
  color: #0077cc;
}

.btn-primary[b-97bmi03002] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-97bmi03002], .nav-pills .show > .nav-link[b-97bmi03002] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-97bmi03002] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-97bmi03002] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-97bmi03002] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-97bmi03002] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-97bmi03002] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/WebApplication2/Views/Shared/_LayoutDetail.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-ag9foqjwj0] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-ag9foqjwj0] {
  color: #0077cc;
}

.btn-primary[b-ag9foqjwj0] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-ag9foqjwj0], .nav-pills .show > .nav-link[b-ag9foqjwj0] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-ag9foqjwj0] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-ag9foqjwj0] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-ag9foqjwj0] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-ag9foqjwj0] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-ag9foqjwj0] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/WebApplication2/Views/Shared/_LayoutHome.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-hascf6eqfb] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-hascf6eqfb] {
  color: #0077cc;
}

.btn-primary[b-hascf6eqfb] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-hascf6eqfb], .nav-pills .show > .nav-link[b-hascf6eqfb] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-hascf6eqfb] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-hascf6eqfb] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-hascf6eqfb] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-hascf6eqfb] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-hascf6eqfb] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/WebApplication2/Views/Shared/_LayoutProduct.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-jlrz0mn7a8] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-jlrz0mn7a8] {
  color: #0077cc;
}

.btn-primary[b-jlrz0mn7a8] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-jlrz0mn7a8], .nav-pills .show > .nav-link[b-jlrz0mn7a8] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-jlrz0mn7a8] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-jlrz0mn7a8] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-jlrz0mn7a8] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-jlrz0mn7a8] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-jlrz0mn7a8] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
